// Place all the styles related to the Api/Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.city-lists {
  text-decoration: none;
}


.city-lists {
  margin: 0px 0px 60px 0px;
  max-width: 1100px;
}

.city-lists-title {
  margin: 40px 40px 0px 40px;
  padding: 5px 5px;
  font-size: 24px;
  font-weight: 600;
}

.row-1 {
  display: flex;
  justify-content: space-around;
  margin: 50px 50px;
  min-height: 180px;
  min-width: 200px;
  // border: 1px solid red;
  margin: 0px 40px;
}

.city-lists-1-1 {
  text-decoration: none;
  background-image: url('http://res.cloudinary.com/hobara/image/upload/v1500609470/ny_gmpile.jpg');
  background-size: cover;
  order: 1;
  width: 33.333%;
  padding: 60px 0px;
  text-align: center;
  color: white;
  font-size: 22px;
}

.city-lists-1-1:hover {
  opacity: 0.80;
  cursor: pointer;
  cursor: pointer;
}

.city-lists-1-2 {
  text-decoration: none;
  background-image: url('http://res.cloudinary.com/hobara/image/upload/v1500523312/la_cvzhsc.jpg');
  background-size: cover;
  order: 2;
  width: 33.333%;
  // border: 1px solid orange;
  padding: 60px 0px;
  text-align: center;
  color: white;
  font-size: 22px;
}

.city-lists-1-2:hover {
  opacity: 0.80;
  cursor: pointer;
  cursor: pointer;
}

.city-lists-1-3 {
  text-decoration: none;
  background-image: url('http://res.cloudinary.com/hobara/image/upload/v1500523329/chi_rnturk.jpg');
  background-size: cover;
  order: 3;
  width: 33.333%;
  // border: 1px solid orange;
  padding: 60px 0px;
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 300;
}

.city-lists-1-3:hover {
  opacity: 0.80;
  cursor: pointer;
}


.row-2 {
  display: flex;
  justify-content: space-around;
  margin: 50px 50px;
  min-height: 180px;
  min-width: 200px;
  // border: 1px solid red;
  margin: 0px 40px;
}

.city-lists-2-1 {
  text-decoration: none;
  background-image: url('https://res.cloudinary.com/hobara/image/upload/v1500653899/sf_nwaj28.jpg');
  background-size: cover;
  order: 1;
  width: 33.333%;
  // border: 1px solid orange;
  padding: 60px 0px;
  text-align: center;
  color: white;
  font-size: 22px;
}

.city-lists-2-1:hover {
  opacity: 0.80;
  cursor: pointer;
}

.city-lists-2-2 {
  text-decoration: none;
  background-image: url('http://res.cloudinary.com/hobara/image/upload/v1500609737/dc_iiyvqd.jpg');
  background-size: cover;
  order: 1;
  width: 33.333%;
  // border: 1px solid orange;
  padding: 60px 0px;
  text-align: center;
  color: white;
  font-size: 22px;
}

.city-lists-2-2:hover {
  opacity: 0.80;
  cursor: pointer;
}

.city-lists-2-3 {
  text-decoration: none;
  background-image: url('http://res.cloudinary.com/hobara/image/upload/v1500523339/aus_gg4uwn.jpg');
  background-size: cover;
  order: 1;
  width: 33.333%;
  // border: 1px solid orange;
  padding: 60px 0px;
  text-align: center;
  color: white;
  font-size: 22px;
}

.city-lists-2-3:hover {
  opacity: 0.80;
  cursor: pointer;
}

.row-3 {
  display: flex;
  justify-content: space-around;
  margin: 50px 50px;
  min-height: 180px;
  min-width: 200px;
  // border: 1px solid red;
  margin: 0px 40px;
}

.city-lists-3-1 {
  text-decoration: none;
  background-image: url('http://res.cloudinary.com/hobara/image/upload/v1500523399/sin_vu9uew.jpg');
  background-size: cover;
  order: 1;
  width: 33.333%;
  // border: 1px solid orange;
  padding: 60px 0px;
  text-align: center;
  color: white;
  font-size: 22px;
}

.city-lists-3-1:hover {
  opacity: 0.80;
  cursor: pointer;
}

.city-lists-3-2 {
  text-decoration: none;
  background-image: url('http://res.cloudinary.com/hobara/image/upload/v1500523367/ty_p22udr.jpg');
  background-size: cover;
  order: 1;
  width: 33.333%;
  // border: 1px solid orange;
  padding: 60px 0px;
  text-align: center;
  color: white;
  font-size: 22px;
}

.city-lists-3-2:hover {
  opacity: 0.80;
  cursor: pointer;
}

.city-lists-3-3 {
  text-decoration: none;
  background-image: url('http://res.cloudinary.com/hobara/image/upload/v1500609348/par_ucpct3.jpg');
  background-size: cover;
  order: 1;
  width: 33.333%;
  // border: 1px solid orange;
  padding: 60px 0px;
  text-align: center;
  color: white;
  font-size: 22px;
}

.city-lists-3-3:hover {
  opacity: 0.80;
  cursor: pointer;
}

.city-lists-title {
  border: 1px solid #F3F2F1;
  margin: 40px 40px 0px 40px;
  border-radius: 5px;
}

.featured-cities-lists {
  border: 1px solid #F3F2F1;
  margin: 0px 40px;
  border-radius: 5px;
}


.city-row1 {
  display: flex;
  justify-content: space-around;
  // border: 1px solid red;
  margin: 0px 40px;
  padding: 20px 20px 0px 20px;
}


.city-row2 {
  display: flex;
  justify-content: space-around;
  // border: 1px solid red;
  margin: 0px 60px;
  padding: 20px 20px;
}

.city-row3 {
  display: flex;
  justify-content: space-around;
  // border: 1px solid red;
  margin: 0px 40px;
  padding: 20px 40px;
  border: 1px solid #F3F2F1;
  border-radius: 5px;
}

.city {
  text-decoration: none;
  // border: 1px solid blue;
  color: #356273;
}

.city:hover {
  color: #E5656E;
  cursor: pointer;
}
