// Place all the styles related to the Api::Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.reservation-modal-container {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 900;
  overflow: auto;
}

.reservation-select-time {
  text-align: center;
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 900;
  margin: 0px 0px 5px 0px;
}


.available-slot {
  display: flex;
  flex-direction: column;
}

.slot-list-name {
  order: 1;
  // width: 100%;
  // height: 15%;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
  text-align: left;
  margin: 10px 22px 0px 25px;
  // border: 1px solid red;
}

.slot-list-date {
  order: 2;
  // width: 100%;
  // height: 15%;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
  text-align: left;
  margin: 0px 25px;
  // border: 1px solid red;
}

.slot-list-guest {
  order: 3;
  // width: 100%;
  // height: 15%;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
  text-align: left;
  margin: 0px 25px;
  // padding-bottom: 15px;
  // border-bottom: 1px solid #D3D3D3;
}

.slot-list {
  order: 4;
  // width: 100%;
  height: 55%;
  // align-items: center;
  // border: 1px solid red;
  margin: 15px 22px 30px 22px;
  display: flex;
  // justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}


.slot-item {
  margin: 5px 5px;
  // border: 1px solid green;
  border: 0;
  border-radius: 3px;
  background-color: #E5656E;
  color: white;
  font-size: 16px;
  padding: 5px 12px;
  align-items: center;
}

.slot-item:hover {
  cursor: pointer;
  background-color: #da2734;
}

.go-to-user-profile {
  border-radius: 3px;
  margin: 20px 60px 20px 60px;
  padding: 10px 10px 15px 10px;
  background-color: #DA3743;
  color: white;
  text-align: center;
}

.go-to-user-profile:hover {
  cursor: pointer;
  background-color: #c4313c;
}
