// Place all the styles related to the Api::Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.city-restaurant-lists {
  background-color: #F3F2F1;
  // border: 1px solid red;
  margin: 20px 20px 20px 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-radius: 3px;
}


.city-restaurant-header {
  // border: 1px solid blue;
  margin: 10px 0px 10px 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 900;
  border-bottom: 1px solid #878787;
}

.city-restaurant-container {
  // border: 1px solid blue;
  margin: 10px 0px;
}

.restaurant-listitem {
  // border: 1px solid green;
  margin: 10px 10px;
  padding: 10px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #CCCCCC;
}

.restaurant-listitem-left {
  order: 1;
  // border: 1px solid red;
  width: 30%;
  margin: 5px 5px;

}

.restaurant-image {
  width: 100%;
  height: 100%
}

.restaurant-image:hover {
  opacity: 0.80;
}

.restaurant-listitem-middle {
  order: 2;
  // border: 1px solid red;
  margin: 5px 5px;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.restaurant-name-link {
  text-decoration: none;
  color: #444444;
}

.restaurant-name {
  order: 1;
  padding-left: 5px;
  padding-top: 5px;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 10px;
}

.restaurant-name:hover {
  color: #E5656E;
}

.restaurant-cuisine {
  order: 2;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
}
.restaurant-rate {
  order: 3;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
}
.restaurant-price {
  order: 4;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
}


.restaurant-listitem-right {
  order: 3;
  // border: 1px solid red;
  margin: 5px 5px;
  width: 50%;
}

.restaurant-review {
  padding-left: 5px;
  padding-top: 5px;
  margin-top: 20px;
  margin-left: 10px;
}

.restaurant-showpage-background {

}

.restaurant-showpage-header {
  background-color: rgb(54,50,48);
  height: 200px;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.showpage-header-left {
  order: 1;
  width: 20%;
  margin: 40px 30px 30px 60px;
  // border: 1px solid blue;
  display: block;
}

.showpage-header-right {
  order: 2;
  width: 80%;
  margin: 40px 60px 30px 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  padding: 10px 10px;

}

.showpage-restaurant-name {
  order: 1;
  // border: 1px solid green;
  color: white;
  font-size: 35px;
  margin-bottom: 10px;
}

.showpage-restaurant-rate {
  order: 2;
  // border: 1px solid green;
  color: #C4BfB9;
  margin-bottom: 10px;
  color: #DAA520;
}

.showpage-restaurant-details {
  order: 3;
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
}

.showpage-restaurant-details-left {
  order: 1;
  border: 1px solid orange;
  color: #C4BfB9;
  width: 50%;
  font-size: 14px;

}

.showpage-restaurant-details-right {
  order: 2;
  border: 1px solid orange;
  color: #E5656E;
  width: 20%;
  text-align: right;
  font-size: 14px;
}

.showpage-header-image {
  width: 100%;
  height: 100%;
}

.restaurant-showpage-nav-link {
  border: 1px solid pink;
  height: 50px;
  margin: 10px 10px;
}

.restaurant-showpage-reservation {
  border: 1px solid pink;
  height: 100px;
  margin: 10px 10px;
}

.restaurant-showpage-about {
  background-color: #F3F2F1;
  border: 1px solid pink;
  // height: 100px;
  margin: 10px 10px;
  // padding: 0px 20px 10px 20px;
}

.restaurant-showpage-about-header {
  border-bottom: 1px solid #CCCCCC;
  padding: 0px 20px 0px 20px;
}

.restaurant-showpage-about-text {
  padding: 0px 20px 0px 20px;
  margin: 10px 0px 10px 0px;
}

.restaurant-showpage-about-map {
  padding: 0px 20px 0px 20px;
  margin: 10px 0px 10px 0px;
}


.restaurant-showpage-photo {
  border: 1px solid pink;
  height: 300px;
  width: auto;
  margin: 10px 10px;
}
.restaurant-showpage-reviews {
  border: 1px solid pink;
  height: 100px;
  margin: 10px 10px;
}

.add-restaurant-container {
  margin: 0px 40px 40px 40px;
  background-image: url('https://res.cloudinary.com/hobara/image/upload/v1500880595/addRes_tvysrj.jpg');
  height: 400px;
  width: auto;
  max-width: 1020px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-restaurant-header {
  color: white;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  // border: 1px solid blue;
}

.add-restaurant-message {
  color: white;
  font-weight: 200;
  text-align: center;
  // border: 1px solid green;
  margin-bottom: 0px;
}

.add-restaurant-button {
  border-radius: 3px;
  width: 200px;
  height: 40px;
  background-color: #DA3743;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.add-restaurant-button:hover {
  background-color: #c4313c;
  cursor: pointer;
}
