// Place all the styles related to the Api::Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.city-restaurant-lists {
  background-color: #F3F2F1;
  // border: 1px solid red;
  margin: 40px 20px 20px 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-radius: 3px;
  max-width: 1000px;
}


.city-restaurant-header {
  // border: 1px solid blue;
  margin: 10px 10px 10px 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 900;
  border-bottom: 1px solid #878787;
}

.city-restaurant-container {
  // border: 1px solid blue;
  margin: 10px 0px;
}

.restaurant-listitem {
  // border: 1px solid green;
  margin: 10px 10px;
  padding: 10px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #CCCCCC;
}

.restaurant-listitem-left {
  order: 1;
  // border: 1px solid red;
  width: 30%;
  margin: 5px 5px;

}

.restaurant-image {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.restaurant-image:hover {
  cursor: pointer;
  opacity: 0.80;
}

.restaurant-listitem-middle {
  order: 2;
  // border: 1px solid red;
  margin: 5px 5px 5px 15px;;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.restaurant-name-link {
  text-decoration: none;
  color: #444444;
}

.restaurant-name {
  order: 1;
  // padding-left: 5px;
  padding-top: 5px;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 10px;
}

.restaurant-name:hover {
  cursor: pointer;
  color: #E5656E;
}

.restaurant-cuisine {
  order: 3;
  // padding-left: 5px;
  // padding-top: 10px;
  // margin-top: 15px;
  margin-bottom: 5px;
}
.restaurant-rate {
  order: 2;
  // padding-left: 5px;
  // padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.restaurant-price {
  order: 4;
  // padding-left: 5px;
  // padding-top: 10px;
  // margin-bottom: 10px;
}


.restaurant-listitem-right {
  order: 3;
  // border: 1px solid red;
  margin: 5px 5px;
  width: 50%;
}

.restaurant-review {
  padding-left: 5px;
  padding-top: 5px;
  margin-top: 20px;
  margin-left: 10px;
}

.restaurant-showpage-background {
  background-color: rgb(54,50,48);
  height: 200px;
  margin: 20px 0px;
}

.restaurant-showpage-header {
  padding-top: 20px;
  display: block;
  display: flex;
  // justify-content: space-between;
}

.showpage-header-left {
  order: 1;
  width: 20%;
  min-width: 148px;
  max-width: 148px;
  margin: 40px 30px 30px 60px;

  // border: 1px solid blue;
  display: block;
}

.showpage-header-right {
  order: 2;
  width: 80%;
  min-width: 400px;
  max-width: 800px;
  margin: 40px 60px 30px 10px;
  display: flex;
  flex-direction: column;
  // border: 1px solid blue;
  padding: 20px 10px;

}

.showpage-restaurant-name {
  order: 1;
  // border: 1px solid green;
  color: white;
  font-size: 35px;
  margin-bottom: 10px;
}

.showpage-restaurant-rate {
  order: 2;
  // border: 1px solid green;
  color: #C4BfB9;
  margin-bottom: 10px;
  color: #DAA520;
}


.showpage-restaurant-details {
  order: 3;
  // border: 1px solid green;
  display: flex;
  justify-content: space-between;
}

.showpage-restaurant-details-left {
  order: 1;
  // border: 1px solid orange;
  color: #C4BfB9;
  width: 50%;
  font-size: 14px;

}

.showpage-restaurant-details-right {
  order: 2;
  // border: 1px solid orange;
  color: #E5656E;
  width: 20%;
  text-align: right;
  font-size: 14px;
}

.showpage-header-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-top: 22px;
}

.restaurant-showpage-reservation {
  // border: 1px solid pink;
  height: 100%;

  margin: 10px 10px;
  display: flex;
}

.restaurant-showpage-about {
  background-color: #F3F2F1;
  border: 1px solid pink;
  // height: 100px;
  margin: 10px 10px;
  // padding: 0px 20px 10px 20px;
}

// .restaurant-showpage-about-header {
//   border-bottom: 1px solid #CCCCCC;
//   padding: 0px 20px 0px 20px;
// }
//
// .restaurant-showpage-about-text {
//   padding: 0px 20px 0px 20px;
//   margin: 10px 0px 10px 0px;
// }
//
// .restaurant-showpage-about-map {
//   padding: 0px 20px 0px 20px;
//   margin: 10px 0px 10px 0px;
// }


.restaurant-showpage-photo {
  border: 1px solid pink;
  height: 300px;
  width: auto;
  margin: 10px 10px;
}
.restaurant-showpage-reviews {
  border: 1px solid pink;
  height: 100px;
  margin: 10px 10px;
}

.add-restaurant-container {
  margin: 0px 40px 40px 40px;
  background-image: url('https://res.cloudinary.com/hobara/image/upload/v1500949025/addRes_tvysrj.jpg');
  height: 400px;
  width: auto;
  max-width: 1020px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-restaurant-header {
  color: white;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  // border: 1px solid blue;
}

.add-restaurant-message {
  color: white;
  font-weight: 200;
  text-align: center;
  // border: 1px solid green;
  margin-bottom: 0px;
}

.add-restaurant-button {
  border-radius: 3px;
  width: 200px;
  height: 40px;
  background-color: #DA3743;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.add-restaurant-button:hover {
  background-color: #d12733;
  cursor: pointer;
}

.add-restaurant-form {

}

.add-restaurant-form-header {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 0px 20px 20px 20px;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid #DBD9D5;
}

.add-restaurant-form-row {
  margin: 0px 20px 0px 20px;
  // border: 1px solid red;
  display: flex;
  justify-content: space-around;
}


.restaurant-input-left {
  margin: 5px 10px 5px 20px;
  height: 30px;
  width: 200px;
}

.restaurant-input-right {
  margin: 5px 20px 5px 10px;
  height: 30px;
  width: 200px;
}
.restaurant-input-textarea {
  margin: 5px 20px 5px 20px;
  height: 60px;
  width: 425px;
}

.restaurant-input-type {
  margin: 5px 10px 5px 20px;
  height: 30px;
  width: 200px;
}
.restaurant-input-price {
  margin: 5px 20px 5px 10px;
  height: 30px;
  width: 200px;
}
.restaurant-input-hours {
  margin: 5px 10px 5px 20px;
  height: 30px;
  width: 200px;
}
.restaurant-input-cityid {
  margin: 5px 20px 5px 10px;
  height: 30px;
  width: 200px;
}

.add-restaurant-errors {
  margin: 10px 20px;
  font-size: 12px;
  color: red;
}


.restaurant-input-submit {
  height: 20px;
  width: 200px;
  border-radius: 3px;
  margin: 20px 10px 20px 10px;
  padding: 10px 10px 10px 10px;
  background-color: #DA3743;
  color: white;
  align-items: center;
  text-align: center;
}

.restaurant-input-submit:hover {
  background-color: #d12733;
  cursor: pointer;
}


.restaurant-showpage-main-container {
  background-color: #F3F2F1;
  display: flex;
  justify-content: space-around;
}


.restaurant-showpage-nav-link {
  order: 1;
  // background-color: white;
  // width: 12%;
  width: 160px;;
  // height: auto;
  display: block;
  position: fixed;
  z-index: 1;
  top: 18rem;
  bottom: 0;
  left: 0;
  padding: 1.875rem 0 1rem;
  // max-height: 300px;
  // flex-direction: column;

  // border-radius: 3px;
  // border: 1px solid red;
  margin: 30px 10px;
}

.restaurant-showpage-main {
  order: 2;
  padding-left: 160px;
  margin: 20px 40px 20px 20px;
  max-width: 1000px;
  // border: 1px solid red;
  position: relative;
  // z-index: -1;
  // display: block;
  display: flex;
  justify-content: space-between;
}


.nav-link-wrapper {
  // position: absolute;
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

.page-nav-link {
  margin: 24px 0px 0px 40px;
  font-size: 18px;
  // display: block;
  // width: auto;
  // height: auto;
}

.page-nav-link:hover {
  color: #DA3743;
  cursor: pointer;
}


.restaurant-showpage-main-content {
  order: 1;
  width: 80%;
  margin-top: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  // border: 1px solid red;
}

.restaurant-showpage-reservation {
  order: 1;
  background-color: white;
  border-radius: 5px;
  margin: 10px 10px;
  height: auto;
  display: flex;
  // align-content: center;
  // border: 1px solid green;
}


.restaurant-showpage-content-about {
  order: 2;
  background-color: white;
  border-radius: 5px;
  margin: 10px 10px;
  // height: 200px;
  display: flex;
  flex-direction: column;
  // border: 1px solid green;
}

.restaurant-showpage-content-header {
  order: 1;
  border-bottom: 1px solid #CCCCCC;
  padding: 0px 20px 0px 20px;
}
.restaurant-showpage-content-about-text {
  order: 2;
  padding: 0px 20px 0px 20px;
  margin: 10px 0px 10px 0px;
}
.restaurant-showpage-content-about-map {
  order: 3;
  padding: 0px 20px 0px 20px;
  margin: 100px 0px 100px 0px;
}

.restaurant-showpage-photos {
  order: 3;
  background-color: white;
  border-radius: 5px;
  margin: 10px 10px;
  padding-bottom: 10px;
  // height: 200px;
  flex-shrink: 1;
  width: auto;
  height: auto;
   overflow-y: auto;
  display: flex;
  flex-direction: column;
  // border: 1px solid green;
}

.restaurant-showpage-content-photo-header {
  order: 1;
  border-bottom: 1px solid #CCCCCC;
  padding: 0px 20px 0px 20px;
  margin: 0px 0px 30px 0px;
}

.restaurant-showpage-photo {
  order: 2;
  margin-bottom: 30px;
  margin-top: 0px;
  border-radius: 5px;
  border: 0px;
  width: auto;
  max-width: 500px;
  height: auto;
  align-self: center;
  //  overflow-y: auto;
  flex-shrink: 1;
  // flex-basis: auto;
}

.restaurant-showpage-reviews {
  order: 4;
  background-color: white;
  border-radius: 5px;
  margin: 10px 10px;
  height: 200px;
  // border: 1px solid green;
}


.restaurant-showpage-detail-right {
  order: 2;
  background-color: white;
  border-radius: 5px;
  width: 20%;
  height: auto;
  margin: 30px 10px;
  // width: 100px;
  height: 500px;
  // border: 1px solid red;
}

.detail-right-type {
  background-image: url('https://res.cloudinary.com/hobara/image/upload/v1500944283/cuisinelogo_vjqu4u.png');
  background-repeat: no-repeat;
  // background-size: contain;
  margin: 20px 0px 10px 20px;
  padding-left: 30px;
  // font-weight: 600;
  font-size: 18px;
}
.detail-right-hours {
  background-image: url('https://res.cloudinary.com/hobara/image/upload/v1500944278/hourslogo_v5zl9s.png');
  background-repeat: no-repeat;
  // background-size: contain;
  margin: 20px 0px 10px 20px;
  padding-left: 30px;
  // font-weight: 600;
  font-size: 18px;
}
.detail-right-phone {
  background-image: url('https://res.cloudinary.com/hobara/image/upload/v1500944273/phonelogo_xll3ls.png');
  background-repeat: no-repeat;
  // background-size: contain;
  margin: 20px 0px 10px 20px;
  padding-left: 30px;
  // font-weight: 600;
  font-size: 18px;
}
.detail-right-price {
  background-image: url('https://res.cloudinary.com/hobara/image/upload/v1500944270/pricelogo_rug4uu.png');
  background-repeat: no-repeat;
  // background-size: contain;
  margin: 20px 0px 10px 20px;
  padding-left: 30px;
  // font-weight: 600;
  font-size: 18px;
}
.detail-right-web {
  background-image: url('https://res.cloudinary.com/hobara/image/upload/v1500944267/weblogo_y2kn6m.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px 0px 10px 20px;
  padding-left: 30px;
  // font-weight: 600;
  font-size: 18px;
}

.detail-right-data {
  margin: 20px 0px 10px 40px;
  font-size: 16px;
}

.detail-right-web-data {
  margin: 20px 0px 10px 40px;
  font-size: 14px;
}

.main-search-container {
  padding-top: 260px;
}

.search-container {
  background-color: white;
  border-radius: 5px;
  margin: 40px 40px 20px 40px;
  max-width: 1020px;
  border: 1px solid #ECECEC;
}

.search-header {
  font-size: 24px;
  margin: 20px 20px;
}

.search-bar {
  margin: 20px 40px 40px 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid #DBD9D5;
  border-radius: 3px;
}

.search-seats {
  order: 1;
  height: 46px;
  width: 16%;
  font-size: 18px;
  color: #666666;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
  padding: 0;
  border-width: 0;
  border-radius: 0px;
}

.search-seats:hover {
  cursor: pointer;
}

.search-date {
  order: 2;
  height: 46px;
  width: 20%;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #666666;
  border-radius: 0px;
  border-width: 0;
  border-left: 1px solid #DBD9D5;
  border-right: 1px solid #DBD9D5;
  padding-left: 10px;
}

.search-date:hover {
  cursor: pointer;
}


.search-time {
  order: 3;
  height: 46px;
  width: 18%;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #666666;
  background-color: white;
  border-radius: 0px;
  border-width: 0;
  // border: 1px solid #DBD9D5;
  padding: 0;
}

.search-time:hover {
  cursor: pointer;
}

.search-restaurant {
  order: 4;
  height: 46px;
  width: 30%;
  border-left: 1px solid #DBD9D5;
  position: relative;
  display: flex;
}

.search-restaurant:hover {
  cursor: pointer;
}

.search-restaurant-input {
  order: 1;
  border-width: 0px;
  padding: 0px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;


}

.search-result {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-height: 300px;
  top: 47px;
  left: -1px;
  overflow: hidden;
  z-index: 9;
  padding: 5px;
  color: #666666;
  background: white;
  background-color: white;
  opacity: 0.9;
  border-radius: 3px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  padding: 0px;
}

.search-result li:hover {
  cursor: pointer;
  color: #DA3743;
}

.search-result-item {
  padding-left: 20px;
  font-size: 16px;
}

.search-find-button {
  order: 5;
  height: 49px;
  font-size: 14px;
  background-color: #DA3743;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
  min-width: 30px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.search-find-button:hover {
  background-color: #da2734;
  cursor: pointer;
}

.showpage-restaurant-details-right:hover {
  color: #DA3743;
  cursor: pointer;
}

// .reservation-request-container {
//   width: 100%;
//   height: 100%;
// }
.restaurant-showpage-reservation {
  // width: 100%;
  margin: 10px 10px;
  height: auto;

}

.reservation-request-container {
  width: 100%;
  height: 100%;
}

.reservation-request-search {
  // background-color: white;
  // border-radius: 5px;
  // margin: 0px 10px 0px 10px;
  // max-width: 1020px;
  // border: 1px solid #ECECEC;
  width: 100%;
  height: 100%;
  // align-self: center;
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 0px;
}



.reservation-request-header {
  order: 1;
  font-size: 24px;
  margin: 20px 20px;
}

.reservation-request-bar {
  order: 2;
  margin: 10px 20px 20px 20px;
  align-items: center;
  border: 1px solid #DBD9D5;
  border-radius: 3px;
}

.reservation-request-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


.reservation-request-seats {
  order: 1;
  height: 49px;
  width: 25%;
  font-size: 18px;
  color: #666666;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
  padding: 0;
  border-width: 0;
  border-radius: 0px;
}

.reservation-request-seats:hover {
  cursor: pointer;
}

.reservation-request-date {
  order: 2;
  height: 49px;
  width: 25%;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #666666;
  border-radius: 0px;
  border-width: 0;
  border-left: 1px solid #DBD9D5;
  border-right: 1px solid #DBD9D5;
  // padding-left: 10px;
}

.reservation-request-date:hover {
  cursor: pointer;
}

.reservation-request-time {
  order: 3;
  height: 49px;
  width: 25%;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #666666;
  background-color: white;
  border-radius: 0px;
  border-width: 0;
  // border: 1px solid #DBD9D5;
  padding: 0;
}

.reservation-request-time:hover {
  cursor: pointer;
}

.reservation-request-button {
  order: 4;
  height: 49px;
  font-size: 14px;
  background-color: #DA3743;
  border: 0;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  min-width: 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.reservation-request-button:hover {
  background-color: #da2734;
  cursor: pointer;
}
