/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.main-background {
  margin: 10px 0px 10px 0px;
  background-image: url('http://res.cloudinary.com/hobara/image/upload/v1500505112/3-1_jyijqv.png');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.session-button {
  background-color: #E5656E;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  /*border: 3px solid black;*/
}

.header-left {
  order: 1;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-logo-container {
  /*border: 1px solid blue;*/
  margin: 0px 10px 0px 0px;
}

.header-logo-img {
  width: 34px;
  height: auto;
  padding: 3px 3px;
}

.header-link {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}

.header-city-container {
  /*border: 1px solid blue;*/
  margin: 0px 10px 3px 10px;
}


.header-city-lists {
  height: 30px;
  margin: 0px 5px 0px 0px;
}

.header-session-container {

}

.header-right {
  order: 2;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-signup {
  order: 1;
  text-decoration: none;
  /*border: 1px solid blue;*/
  border-radius: 3px;
  margin: 0px 10px 3px 0px;
  padding: 5px 10px 5px 10px;
  background-color: #356273;
  color: white;
  font-size: 14px;
}

.header-signin {
  order: 2;
  text-decoration: none;
  /*border: 1px solid blue;*/
  border-radius: 3px;
  margin: 0px 10px 0px 0px;
  padding: 5px 10px 5px 10px;
  background-color: #356273;
  color: white;
  font-size: 14px;
}

.header-button {
  order: 3;
  text-decoration: none;
  /*border: 1px solid blue;*/
  border-radius: 3px;
  margin: 0px 10px 0px 0px;
  padding: 5px 10px 5px 10px;
  background-color: #E5656E;
  color: white;
  font-size: 12px;
}

.header-name {
  margin: 5px 10px 0px 0px;
  padding: 5px 0px 0px 0px;
  font-size: 20px;
  font-weight: 900;
}

.signup-form-container {
  margin: 0px 10px 0px 0px;
}

.session-form-container {
  margin: 0px 10px 0px 0px;
}

.session-button {
  text-decoration: none;
  /*border: 1px solid blue;*/
  border-radius: 3px;
  margin: 0px 10px 0px 0px;
  padding: 5px 10px 5px 10px;
  background-color: #E5656E;
  color: white
}
