/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.header-logo {
  width: 50px;
  height: auto;
}


.main-background {
  margin: 10px 0px 10px 0px;
  background-image: url('http://res.cloudinary.com/hobara/image/upload/v1500505112/3-1_jyijqv.png');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.header {
  text-decoration: none;
  color: black;
  font-size: 60px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.session-button {
  background-color: #E5656E;
  border-radius: 5px;
}
