/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



h6 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}


.main-background {
  margin: 10px 0px 10px 0px;
  background-image: url('https://res.cloudinary.com/hobara/image/upload/v1500917305/back_xho0xd.jpg');
  height: 400px;
  width: 100%;
  /*max-width: 1600px;*/
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #444444;
  margin: 0px;
}

.session-button {
  background-color: #E5656E;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
  max-width: 1600px;
  /*border: 3px solid black;*/
}

.header-left {
  order: 1;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px 0px 0px 10px;
}

.header-logo-container {
  /*border: 1px solid blue;*/
  margin: 0px 10px 0px 0px;
}

.header-logo-img {
  width: 35px;
  height: auto;
  margin: 0px 10px 0px 0px;
  padding: 3px 3px;
}

.header-link {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: #444444;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}

.header-first {
  font-size: 30px;
}

.header-second {
  margin: 0px 0px 1px 0px;
}

.header-third {
  font-size: 28px;
}

.header-city-container {
  /*border: 1px solid blue;*/
  margin: 0px 10px 4px 10px;
}


.header-city-lists {
  height: 30px;
  margin: 0px 5px 0px 0px;
}

.header-session-container {

}

.header-right {
  order: 2;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px 10px 4px 0px;
}

.header-right-one {
  order: 1;
}

.header-right-one {
  order: 2;
}

.header-signup {
  text-decoration: none;
  /*border: 1px solid blue;*/
  border-radius: 3px;
  margin: 0px 10px 3px 0px;
  padding: 5px 10px 5px 10px;
  background-color: #40778c;
  color: white;
  font-size: 12px;
}

.header-signup:hover {
  background-color: #356273;
  cursor: pointer;
}

.header-signin {
  order: 2;
  text-decoration: none;
  /*border: 1px solid blue;*/
  border-radius: 3px;
  margin: 0px 10px 0px 0px;
  padding: 5px 10px 5px 10px;
  background-color: #40778c;
  color: white;
  font-size: 12px;
}

.header-signin:hover {
  background-color: #356273;
  cursor: pointer;
}

.header-button {
  order: 3;
  text-decoration: none;
  /*border: 1px solid blue;*/
  border-radius: 3px;
  margin: 0px 10px 0px 0px;
  padding: 5px 12px 5px 12px;
  background-color: #E5656E;
  color: white;
  font-size: 12px;
}

.header-button:hover {
  background-color: #DA3743;
  cursor: pointer;
}


.header-name {
  margin: 5px 10px 0px 0px;
  padding: 5px 0px 0px 0px;
  font-size: 18px;
  font-weight: 900;
}

.signup-form-header {
  text-align: center;
  border-bottom: 1px solid #D3D3D3;
  font-size: 24px;
  font-weight: 900;
  margin: 0px 0px 5px 0px;
}

.signup-input {
  margin: 5px 5px;
  height: 30px;
}

.signin-form-header {
  text-align: center;
  border-bottom: 1px solid #D3D3D3;
  font-size: 24px;
  font-weight: 900;
  margin: 0px 0px 5px 0px;
}

.signin-input {
  margin: 5px 5px;
  height: 30px;
}

.session-form-container {
  margin: 0px 10px 0px 0px;
}

.session-button {
  text-decoration: none;
  /*border: 1px solid blue;*/
  border-radius: 3px;
  margin: 0px 10px 0px 0px;
  padding: 5px 10px 5px 10px;
  background-color: #E5656E;
  color: white;
  display: block;
  min-width: 110px;
}

.signin-button {
  border-radius: 3px;
  margin: 0px 10px 0px 10px;
  padding: 5px 10px 5px 10px;
  background-color: #DA3743;
  color: white;
  text-align: center;
}

.signin-button:hover {
  background-color: #c4313c;
  cursor: pointer;
}

.signup-button {
  border-radius: 3px;
  margin: 0px 10px 20px 10px;
  padding: 5px 10px 5px 10px;
  background-color: #DA3743;
  color: white;
  text-align: center;
}

.signup-button:hover {
  background-color: #c4313c;
  cursor: pointer;
}

.back-to-login {
  font-size: 12px;
  text-align: center;
  margin: 0px 0px 10px 0px;
}

.back-to-login-button {
  text-decoration: none;
  color: #DA3743;
}

.back-to-login-button:hover {
  color: #c4313c;
  cursor: pointer;
}

.signup-modal-container {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 900;
  overflow: auto;
}

.signin-modal-container {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 900;
  overflow: auto;
}
