<!DOCTYPE html>
<html>
  <head>
    <title>
      TableForU
    </title>


    <link rel="icon" type="image/gif/png" href='http://res.cloudinary.com/hobara/image/upload/v1500428429/open_table_logo_animation_iifjys.gif'>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
